body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_div{
  height: 100vh;
  width: 100%;
  background: rgb(181, 181, 203);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
button{
  min-height: 43px;
  width: 43px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 28px;
  padding-bottom: 5px;
  font-weight: 700;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  width: 60%;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #8566aa;
  font-size: 20px;
  font-weight: 500;
}
h1{
  color: white;
  background-color: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color: #8fa3ff;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-width: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}
.todo_style{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
}

.todo_style .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 22px 0 33px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}
.todo_style .fa-times:hover{
  background-color: crimson;
}
.todo_style .fa-times:hover .list_style{
  color: crimson;
} 